* {
  box-sizing: border-box;
}
body {
  background: #003;
}

.fancy-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.fancy-box {
  width: 60vmin;
  height: 60vmin;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    transform: scale(1.42);
  }
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 56% 44% 56% 44% / 38% 57% 43% 62%;
  /* border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; */
  animation: morph 15s ease-in-out infinite both alternate;
  overflow: hidden;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 63% 37% 48% 52% / 34% 66% 34% 66%;
    /* border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%; */
  }
  100% {
    border-radius: 33% 67% 34% 66% / 54% 31% 69% 46%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
