@import "./base.css";
@import "./fancyBorder.css";
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-inko-rust: #f4664c;
  --color-inko-teal: #82d5bb;
  --color-inko-lime: #85c987;
  --color-inko-coral: #e29266;
  --color-inko-purple: #b77ceb;
  --color-inko-periwinkle: #879dee;
  --color-inko-azure: #289dfe;
}

.font-daruma {
  font-family: "Darumadrop One", cursive;
}

/* Add transition effects */
.scale-hover {
  transition: transform 0.2s ease;
}

.scale-hover:hover {
  transform: scale(1.05);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Using Tailwind for responsive layout instead of custom media queries */
